################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/metoda_transportowa/v14/.suo


#cache files
.cache